NEXT_PUBLIC_SITE_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_RABBANI_COOKIE_DOMAIN=
NEXT_PUBLIC_ACCOUNT_CENTER_URL=https://account.rabbaniinstitute.id/account
NEXT_PUBLIC_RABBANI_ALLOWED_ORIGINS=http://localhost:3001,https://editorial.rabbaniinstitute.id,https://account.rabbaniinstitute.id
